.btn-newdata{
    margin-bottom:20px; text-align:right;
}

.form-list li{
    font-size: 16px;
    line-height: 200%;
}

.form-list-loan-code{
    font-size: 14px !important;
}

.form-group-loan{
    padding-top: 0px !important;
    padding-bottom: 5px !important;
}

.res_search_thaiid{
    margin-left: 10px;
    display: none;
}

.money_right { text-align: right; }



/*pagination*/
.pagination{
    margin-top: 0px;
}
.pagination ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    color: #636E7B;
}
.pagination li {
    float: left;
}
.pagination li a {
    display: block;
    color: #636E7B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.pagination li a:hover {
    background-color: #eee;
}
.pagination .active {
    background-color: #eee;
}


/*#thaiid_error

#thaiid_error{
    color: #A94442;   
}

#person_thaiid_form .control-label{
    color: #A94442; 
}

#person_thaiid_form input[type=text] {
    border: 1px solid #A94442;
    color: #A94442;
}

*/

.thaiid_error{
    display: none;
    color: #A94442; 
}

.spouse_thaiid_error{
    display: none;
    color: #A94442; 
}
